body {
  margin: 0;
  font-family: "monospace", "Courier New" , Sans-Serif;
  background: linear-gradient(85deg, #FF5EDF 0%, #04C8DE 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button{
	cursor: pointer;
}